.body__navbar {
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: space-evenly;
}
.navbar__title {
  color: black;
  font-size: 115%;
  text-align: center;
  text-decoration: none;
  width: 11%;
}
.navbar__title:last-child {
  width: 6%;
}
.navbar__title:hover {
  font-weight: 700;
  color: #688d9c;
}

@media screen and (max-width: 1170px) {
  .body__navbar {
    height: 15%;
  }
  .navbar__title:last-child {
    width: 10%;
  }
}

@media screen and (max-width: 890px) {
  .navbar__title {
    font-size: 90%;
    width: 10%;
  }
  .navbar__title:last-child {
    width: 8%;
  }
}

@media screen and (max-width: 580px) {
  .navbar__title {
    width: 15%;
  }
  .navbar__title:last-child {
    width: 12%;
  }
}

@media screen and (max-width: 480px) {
  .body__navbar {
    height: 12%;
  }
  .navbar__title {
    width: 20%;
  }
  .navbar__title:last-child {
    width: 15%;
  }
}

@media screen and (max-width: 380px) {
  .navbar__title {
    width: 21%;
  }
  .navbar__title:last-child {
    width: 16%;
  }
}
