.main__navbar {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 50vw;
}
.nav__link {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 25%;
}

.nav__link:hover {
  font-weight: 700;
  color: #688d9c;
}
.dead__link {
  color: black;
  text-align: center;
  width: 25%;
}

/* RESPONSIVE: TABLETS */
@media (max-width: 768px) and (orientation: landscape) {
  .main__navbar {
    justify-content: space-around;
    padding-bottom: 10px;
    width: 40vw;
  }
  .nav__link {
    font-size: 90%;
  }
  .nav__link:first-child {
    width: 35%;
  }
  .nav__link:nth-child(2) {
    width: 25%;
  }
  .nav__link:last-child {
    width: 10%;
  }
  .dead__link {
    font-size: 90%;
  }
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .main__navbar {
    align-items: center;
    background-color: gray;
    flex-direction: column;
    height: 84vh;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    top: 15vh;
    width: 50%;
    z-index: 1;
  }
  .nav__link,
  .dead__link {
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: center;
    margin: 5% 0;
    opacity: 1;
    width: 100%;
  }
  .nav__link:hover,
  .dead__link:hover {
    background-color: rgb(252, 252, 252);
  }
  .active {
    transform: translateX(0%);
  }
  .inactive {
    transition: transform 0.5s ease-out;
  }
}
