.email__form {
  display: flex;
  flex-direction: column;
  height: 45vh;
  justify-content: space-between;
  width: 100%;
}
.input__wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 890px) {
  .input__wrapper label {
    font-size: 90%;
  }
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .email__form {
    height: 40vh;
  }
  .input__wrapper label {
    /* height: 10%; */
    font-size: 75%;
  }
  .input__wrapper:last-child {
    height: 15%;
  }
}
