.button {
  align-items: center;
  background-color: rgb(215, 215, 215);
  border: 2px groove rgb(215, 215, 215);
  display: flex;
  font-size: 75%;
  font-weight: 700;
  height: 2em;
  justify-content: center;
}

@media screen and (max-width: 760px) {
  .button {
    font-size: 70%;
  }
}

@media screen and (max-width: 580px) {
  button[style] {
    width: 20% !important;
  }
  .button {
    font-size: 65%;
  }
}

@media screen and (max-width: 480px) {
  .button {
    font-size: 65%;
  }
}

@media screen and (max-width: 380px) {
  button[style] {
    width: 40% !important;
  }
  .button {
    font-size: 75%;
  }
}
