.create__folder {
  align-items: center;
  display: flex;
  height: 4em;

  justify-content: space-around;
  width: 100%;
}
.form_section {
  display: flex;
  flex-direction: column;
  height: 16em;
  width: inherit;
}
.form_section p {
  margin: 0 0 0 7%;
}
