.options {
  display: flex;
  height: 10vh;
  align-items: center;
  width: 100vw;
}
.optionsForm {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.optionsForm label {
  align-items: center;
  display: flex;
  font-size: 85%;
  height: 15%;
  justify-content: space-between;
  margin: 0 2%;
  width: 50%;
}

@media screen and (max-width: 760px) {
  .optionsForm {
    align-items: center;
  }
  .optionsForm label {
    height: 100%;
    font-size: 80%;
  }
}

@media screen and (max-width: 580px) {
  .options {
    height: 7%;
  }
  .optionsForm label {
    font-size: 70%;
    margin: 0;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 480px) {
  .optionsForm label {
    font-size: 65%;
  }
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .options {
    height: 15vh;
  }
  .optionsForm {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .optionsForm label {
    width: 80%;
  }
} ;
