.options {
  display: flex;
  height: 10vh;
  align-items: center;
  width: 100vw;
}
.optionsForm {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.optionsForm label {
  align-items: center;
  display: flex;
  font-size: 85%;
  height: 15%;
  justify-content: space-between;
  margin: 0 2%;
  width: 50%;
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .options {
    height: 20vh;
  }
  .optionsForm {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .optionsForm label {
    width: 80%;
  }
} ;
