.form__body {
  align-items: center;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2em;
  padding: 2%;
  width: 50%;
}
.form__body h4 {
  margin-top: 0;
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .form__body {
    margin: 0 5px;
    width: 95vw;
  }
}
