.video__container {
  align-items: center;
  display: flex;
  height: 65%;
  justify-content: center;
  width: auto;
}
.youtube {
  height: 19em;
  width: 32em;
}
@media screen and (max-width: 580px) {
  .youtube {
    height: 17em;
    width: 26em;
  }
}
@media screen and (max-width: 580px) {
  .video__container {
    height: 45%;
  }
  .youtube {
    height: 12em;
    width: 21em;
  }
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .video__container {
    height: 45%;
  }
  .youtube {
    height: 11em;
    width: 16em;
  }
}
