.video__container {
  align-items: center;
  display: flex;
  height: 65%;
  justify-content: center;
  width: auto;
}
.youtube {
  height: 19em;
  width: 32em;
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .video__container {
    height: 45%;
  }
  .youtube {
    height: 9em;
    width: auto;
  }
}
