.statement__content {
  text-align: center;
}
.statement__content p {
  margin-top: 0;
}

/* RESPONSIVE: MOBILE */
@media screen and (max-width: 380px) {
  .statement__content {
    padding: 5px;
    width: auto;
  }
}
